/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);

body{
  background: -webkit-linear-gradient(90deg, #FA1E51 10%, #FF7D26 90%);
  background:    -moz-linear-gradient(90deg, #FA1E51 10%, #FF7D26 90%);
  background:     -ms-linear-gradient(90deg, #FA1E51 10%, #FF7D26 90%);
  background:      -o-linear-gradient(90deg, #FA1E51 10%, #FF7D26 90%);
  background:         linear-gradient(90deg, #FA1E51 10%, #FF7D26 90%); 
 font-family: 'Sigmar One', sans-serif;
}

.navbar-default {
	background: rgba(250, 250, 250, 0.5);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
	border: none;
	border-radius: 0;
	.navbar-header {
		.navbar-brand {
			color: white;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -1px;
		}
	}
	.navbar-link {
		line-height: 3.5;
		color: rgb(48, 181, 199);
	}
}

#index_workouts {
	h2 {
		margin-bottom: 0;
		font-weight: 100;
		a {
			color: white;
		}
	}
	h3 {
		margin: 0;
		font-size: 18px;
		span {
			color: rgb(48, 181, 199);
		}
	}
}

#links {
	display: inline;
}